*{
    box-sizing:border-box;
}
.note-form{
    text-align: left;
    width: 50vw;
    padding: 0%;
    margin: 0%;
}
.note-text-input{
    width: 100%;
    height: 20vh;
    margin: 5px 5px 10px;
    padding: 5px;
    min-height: 200px;
    font-family: Arial, Helvetica, sans-serif;
    outline: 1px solid black;
    border: 0;
    border-radius: 5px;
}
.note-text-input:focus{
    outline: 3px solid black;
}
.form-wrapper-div{
    margin-bottom: 20px;
}

.form-content-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    margin: 0;
    margin-top: 10px;
    width: 100vw;
}
.form-content-div form{
    margin: 0%;
    padding: 0%;
}
