/*.image-container{
    max-width: 200px;
    max-height: 200px;
    margin: 0;
    padding: 0;
    
}
.image-loader{
    max-width: 300px;
    max-height: 300px;
}
img{
    outline: red solid 2px;
    max-width: 190px;
    max-height: 190px;
    margin: 0;
    padding: 0;
}
.image-uploader{
    padding: 0;
    margin: 0;
}
.error-message{
    color: red;
    font-weight: bold;
}*/