/* styles.css */

.container {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    margin: 0;
    background-color: transparent;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 8px solid #f3f3f3; /* Svijetla pozadina loadera */
    border-radius: 50%; /* Zaobljeni rubovi za krug */
    border-top: 8px solid #3498db; /* Boja vrha loadera */
    width: 60px; /* Širina loadera */
    height: 60px; /* Visina loadera */
    animation: spin 1s linear infinite; /* Animacija rotacije */
}


@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
