.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;

    margin:10px;
    border-radius: 10px;
    
}
.title-div *{
    padding: 0;
    margin: 0;
}
.title-div{
    margin-bottom: 30px;
}
input{
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    width: 200px;
    margin-bottom: 10px;
    color: black;
}
input:focus{
    outline: 3px solid black;
}
input:valid{
    background-color: white;
}
button:hover{
    background-color: rgb(65, 65, 65);
}
button:active{
    background-color: rgb(35, 1, 1);
    outline: none;
}
.submit-message{
    color:red;
    font-weight: bold;
}
.link-class{
    margin-top: 10px;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    -webkit-text-fill-color: black;
}
