.small-note{
    margin:10px;
    
    border-radius: 5px;
    padding: 5px;

    display: inline-block;

    

    width:300px;
    height: 300px;
}
.small-note-img{
    outline: 0;
    object-fit: contain;
    max-height: 100px;
}