.smallnote {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1rem;
    margin: 1rem;
    background-color: var(--fourth-color);
    width: min(40%, 200px);
    height: fit-content;
    position: relative;
  }
  .smallnote:hover {
    scale: 1.05;
  }
  
  .smallnoteimg {
    display: block;
    margin: 0 auto;
    width: 70%;
    max-width: 200px;
    object-fit:cover;
    border-radius: 4px;
    aspect-ratio: 1 / 1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .smallnotetitle {
    font-size: 1.2em;
    margin: 0;
    color: var(--font-color1);
  }
  
  .smallnotedate {
    font-size: 0.9em;
    color: var(--font-color2);
  }
  
  .smallnoteopen {
    background-color: var(--first-color);
    color: var(--font-color-items);
    border: none;
    border-radius: 4px;
    padding: 8px 12px;
    font-size: 0.9em;
    cursor: pointer;
    margin: 4px;
  }
  
  .smallnoteopen:hover{
    filter: opacity(0.8);
  }
  
  .smallnotedelete {
    background-color: transparent;
    border: none;
    font-weight: 900;
    font-size: large;
    color: var(--font-color2);
    position:absolute;
    width: max(1rem, 5%);
    aspect-ratio: 1 / 1;
    line-height: 0%;
    top: 5px;
    right: 5px;
  }
  
  .smallnotedelete:hover {
    scale: 1.1;
    cursor: pointer;
  }
  .imagecontainer {
    width: 100%;
  }
  
  @media screen and (max-width: 430px) {
    .smallnote {
      width: 80%;
    }
    
  }