*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
}
:root{
    --first-color:#252422;
    --second-color:#403D39;
    --third-color:#FCA311;/*EB5E28*/
    --fourth-color:#CCC5B9;
    --fifth-color:#FFFCF2;

    --font-color1:#333;
    --font-color2:#666;
    --font-color-items:white;
}

