*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
}
:root{
    --first-color:#2274A5;
    --second-color:#E7DFC6;
    --third-color:#E9F1F7;
    --fourth-color:#131B23;
    --fifth-color:#816C61;
}

